@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.dark {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

button.dark:hover {
  color: #000;
  background: rgb(255, 218, 87);
}

button.light {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

button.light:hover {
  background: rgb(251, 193, 245);
}

button.tile {
  border-radius: 8px;
  height: 2.5em;
  width: 2em;
  font-size: 2em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  overflow: hidden;
  transition-duration: 0.4s;
}

button.show {
  background-color: white;
  border: 2px solid black;
}

button.show:hover {
  border-color: rgb(251, 193, 245)
}

button.hide {
  background-color: #e7e7e7;
  border: 2px solid grey;
}

div.hide {
  visibility: hidden;
}

div.score {
  font-size: 0.4em;
  margin-left: 2.5em;
}

div.show {
  visibility: visible;
  /*display: block;*/
  //border: 2px solid red;
  //padding: 10px;
}

button:hover {
  //border-color: #646cff;
}


/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
